<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.heasy.knowroute"
    android:versionCode="1"
    android:versionName="0.5.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    -->
    <application
        android:name=".HeasyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KgOrbWK9B03DoNBsLKaYPz9uWpXGpXv3" />

        <!-- hardwareAccelerated: 在webview下用video播放视频，需要开启硬件加速 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".activity.StartActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <receiver
            android:name=".map.NotificationReceiver"
            android:process=":push" />

        <!-- Service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name=".map.HeasyLocationService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".map.activity.CompassActivity" />
        <activity android:name=".map.activity.SettingsActivity" />
        <activity android:name=".map.activity.RouteTraceActivity"></activity>
    </application>

</manifest>