<?xml version="1.0" encoding="UTF-8"?>
<root>
	<!-- sdcard存储的根目录 -->
	<sdcardRootPath>/sdcard/knowroute/</sdcardRootPath>

	<!-- Action类所在的根包路径，多个路径用分号(;)分隔 -->
	<actionBasePackage>com.heasy.knowroute</actionBasePackage>

	<!-- Service类所在的根包路径，多个路径用分号(;)分隔 -->
	<serviceBasePackage>com.heasy.knowroute</serviceBasePackage>

	<!-- webview加载html页面的根路径 -->
	<webviewLoadBasePath>file:///android_asset/html/</webviewLoadBasePath>

	<!-- webview的入口html页面 -->
	<mainPage>main.html</mainPage>

	<!-- 后端API服务地址 -->
	<!-- www.knowroute.cn   180.215.209.100 -->
	<apiAddress>https://www.knowroute.cn/knowroute/</apiAddress>

</root>
