<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<TITLE>知途 > 紧急求助</TITLE>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" type="text/css" href="css/mint.min.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-toast.all.css" />
	<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-loading.all.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-message.all.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<script src="js/jquery.min-1.11.3.js"></script>
	<script src="js/JSConstants.js"></script>
	<script src="js/JSBridge.js"></script>
	<script src="js/JSBridgeExt.js"></script>
	<script src="js/common.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/mint.min.js"></script>
	<script src="js/muse-ui.js"></script>
	<script src="js/muse-ui-toast.js"></script>
	<script src="js/muse-ui-loading.js"></script>
	<script src="js/muse-ui-message.js"></script>

	<style type="text/css">
		.contact-item{
			background-color: #F5F5DC;
			height: 40px;
			border-bottom: 5px solid #FFF;
			font-size: 15px;
		}

		/** dialog **/
		.mu-dialog-body{
			padding: 0;
		}

		.mu-appbar{
			height: 45px;
		}

		.mu-appbar-title{
			font-size: 16px;
		}

		.dialog-form-container{
			width: 100%;
		}

		.dialog-form-container input{
			border: 0;
			border-bottom: 1px solid #ccc;
		}

        .dialog-form-title{
            font-weight: 600;
            height: 45px;
			background-color: #2196f3;
			color: #fff;
        }

		.dialog-form-item{
			height: 60px;
		}

		.sendConfirm{
			padding: 0 10px;
		}

		.mu-dialog-title{
			font-size: 20px;
		}
	</style>
</HEAD>
<BODY>
	<div id="app" class="vue-mint-container">
		<mt-header fixed title="紧急求助"></mt-header>

		<div style="font-size:15px; color:#777; font-weight:normal; text-indent:30px; line-height:25px; padding:0 5px">
			当您遇到紧急情况使用求助功能时，系统会发送求助信息给您的紧急联系人。您的联系人将会收到短信以及app消息。
		</div>

		<table width="100%">
			<tr>
				<td align="center" valign="top" style="height:120px;">
					<table width="90%" style="border-collapse:collapse;">
						<tr class="contact-item" v-if="contactList.length > 0" v-for="item in contactList" @click.stop="editContact(item)">
							<td>{{ item.contactName }}</td>
							<td>{{ item.contactPhone }}</td>
							<td width="30">&gt;</td>
						</tr>
						<tr v-if="contactList.length <= 0">
							<td colspan="3" align="center" style="height:120px">暂无紧急联系人</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table width="100%">
			<tr>
				<td align="center">
					<mt-button type="primary" size="normal" @click="addContact" style="width:250px; height:50px;">添加紧急联系人</mt-button>
					<div style="color:#555; margin-top:5px; font-size:14px;">最多只能添加3位</div>
				</td>
			</tr>
		</table>

		<table width="100%" style="position:fixed; bottom:90px; ">
			<tr>
				<td align="center" style="padding-top:30px;">
					<mt-button type="danger" size="normal" @click="sendHelp" style="width:250px; height:50px;">发出求助</mt-button>
					<div style="color:#555; margin-top:5px; font-size:14px;">发送求助信息给紧急联系人</div>
				</td>
			</tr>
		</table>

		<mt-tabbar v-model="selected" fixed>
			<mt-tab-item id="tab1" @click.native="changePage('main.html')">
				<img slot="icon" src="images/home.jpg">主页
			</mt-tab-item>
			<mt-tab-item id="tab2" @click.native="changePage('contact.html')">
				<img slot="icon" src="images/alert.jpg">求助
			</mt-tab-item>
			<mt-tab-item id="tab3" @click.native="pointNavigation">
				<img slot="icon" src="images/navigation.png">寻点
			</mt-tab-item>
			<mt-tab-item id="tab4" @click.native="changePage('messages.html')">
				<img slot="icon" src="images/message.jpg">消息
			</mt-tab-item>
			<mt-tab-item id="tab5" @click.native="changePage('me.html')">
				<img slot="icon" src="images/person.jpg">我的
			</mt-tab-item>
		</mt-tabbar>

		<mu-dialog transition="slide-left" width="260"
				   :overlay="false" :esc-press-close="false" :overlay-close="false" :open.sync="openAddContactDialog">
			<table class="dialog-form-container">
				<tr>
					<td colspan="2" align="center" class="dialog-form-title">添加紧急联系人</td>
				</tr>
				<tr class="dialog-form-item">
					<td width="70" align="right">姓名：</td>
					<td>
						<input type="text" size="15" maxlength="20" v-model.trim="contact_name"/>
						<img src="images/contact.jpg" @click="selectContact"/>
					</td>
				</tr>
				<tr class="dialog-form-item">
					<td width="70" align="right">手机号：</td>
					<td>
						<input type="text" size="15" maxlength="11" v-model.trim="contact_phone"
							   onkeyup="this.value=this.value.replace(/\D/g,'')"
							   onafterpaste="this.value=this.value.replace(/\D/g,'')"
						       oninput="this.value=this.value.replace(/\D/g,'')" />
					</td>
				</tr>
				<tr class="dialog-form-item">
					<td colspan="2" align="center">
						<mt-button type="default" size="small" @click="closeAddContactDialog" style="width:60px;">取消</mt-button>&nbsp;
						<mt-button type="primary" id="btnSaveContact" size="small" @click="saveContact" style="width:60px;">保存</mt-button>
					</td>
				</tr>
			</table>
		</mu-dialog>


		<mu-dialog transition="slide-left" width="260"
				   :overlay="false" :esc-press-close="false" :overlay-close="false" :open.sync="openEditContactDialog">
			<table class="dialog-form-container">
				<tr>
					<td colspan="2" align="center" class="dialog-form-title">修改紧急联系人</td>
				</tr>
				<tr class="dialog-form-item">
					<td width="70" align="right">姓名：</td>
					<td>
						<input type="text" size="15" maxlength="20" v-model.trim="contact_name2"/>
						<img src="images/contact.jpg" @click="selectContact"/>
					</td>
				</tr>
				<tr class="dialog-form-item">
					<td width="70" align="right">手机号：</td>
					<td>
						<input type="text" size="15" maxlength="11" v-model.trim="contact_phone2"
							   onkeyup="this.value=this.value.replace(/\D/g,'')"
							   onafterpaste="this.value=this.value.replace(/\D/g,'')"
							   oninput="this.value=this.value.replace(/\D/g,'')" />
					</td>
				</tr>
				<tr class="dialog-form-item">
					<td colspan="2" align="center">
						<mt-button type="primary" id="btnUpdateContact" size="small" @click="updateContact" style="width:60px;">保存</mt-button>&nbsp;
						<mt-button type="danger" id="btnDeleteContact" size="small" @click="deleteContact" style="width:60px;">删除</mt-button>&nbsp;
						<mt-button type="default" size="small" @click="closeEditContactDialog" style="width:60px;">取消</mt-button>&nbsp;&nbsp;
					</td>
				</tr>
			</table>
		</mu-dialog>
	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				selected: "tab2",
				contactList:[
					//{id:1, userId:5, contactName:"张三风", contactPhone:"13798178123"},
					//{id:2, userId:5, contactName:"李四", contactPhone:"13798178124"},
					//{id:3, userId:5, contactName:"王春华", contactPhone:"13798178125"}
				],

				openAddContactDialog: false,
				contact_name: "",
				contact_phone: "",

				openEditContactDialog: false,
				selectedItemId: "",
				contact_name2: "",
				contact_phone2: ""
			},
			methods: {
				changePage: function(pageURL){
					transferPage(pageURL);
				},
				pointNavigation: function(){
					jsBridge.dispatchAction("LocationAction", JSON.stringify({}), "pointNavigation");
				},
				addContact: function(){
					this.contact_name = "";
					this.contact_phone = "";
					this.openAddContactDialog = true;
				},
				closeAddContactDialog: function(){
					this.contact_name = "";
					this.contact_phone = "";
					this.openAddContactDialog = false;
				},
				selectContact: function(){
					jsBridge.dispatchAction("AndroidBuiltin", JSON.stringify({}), "getContactInfo");
				},
				saveContact: function(){
					if(this.contact_name == ""){
						this.$toast.message('请输入联系人的姓名');
						return;
					}

					if(!isMobile(this.contact_phone)){
						this.$toast.message('请输入11位的手机号');
						return;
					}

					const loading = this.$loading({
        				target: document.getElementById("btnSaveContact"),
        				size: 15
      				});

					var obj = {"contact_name":vm.contact_name, "contact_phone":vm.contact_phone};
					var msg = jsBridge.dispatchAction("ContactsAction", JSON.stringify(obj), "save");
					loading.close();

					if(msg == "success"){
						this.$toast.message('保存成功');
						this.closeAddContactDialog();
						pageFinishCallback();
					}else{
						this.$toast.message(msg);
					}
				},
				editContact: function(item){
					this.selectedItemId = item.id;
					this.contact_name2 = item.contactName;
					this.contact_phone2 = item.contactPhone;
					this.openEditContactDialog = true;
				},
				closeEditContactDialog: function(){
					this.selectedItemId = "";
					this.contact_name2 = "";
					this.contact_phone2 = "";
					this.openEditContactDialog = false;
				},
				updateContact: function(){
					if(this.contact_name2 == ""){
						this.$toast.message('请输入联系人的姓名');
						return;
					}

					if(!isMobile(this.contact_phone2)){
						this.$toast.message('请输入11位的手机号');
						return;
					}

					const loading = this.$loading({
        				target: document.getElementById("btnUpdateContact"),
        				size: 15
      				});

					var obj = {"id":vm.selectedItemId, "contact_name":vm.contact_name2, "contact_phone":vm.contact_phone2};
					var msg = jsBridge.dispatchAction("ContactsAction", JSON.stringify(obj), "update");
					loading.close();

					if(msg == "success"){
						this.$toast.message('修改成功');
						this.closeEditContactDialog();
						pageFinishCallback();
					}else{
						this.$toast.message(msg);
					}
				},
				deleteContact: function(){
					if(confirm("确定要删除该紧急联系人？")){
						const loading = this.$loading({
							target: document.getElementById("btnDeleteContact"),
							size: 15
						});

						var obj = {"id":vm.selectedItemId};
						var msg = jsBridge.dispatchAction("ContactsAction", JSON.stringify(obj), "delete");
						loading.close();

						if(msg == "success"){
							this.$toast.message('删除成功');
							this.closeEditContactDialog();
							pageFinishCallback();
						}else{
							this.$toast.message(msg);
						}
					}
				},
				sendHelp: function(){
					if(this.contactList.length <= 0){
						this.$toast.message("没有紧急联系人，请先添加");
						return;
					}

					var names = "";
					var phones = "";
					for(i=0; i<this.contactList.length; i++){
						if(i > 0){
							names += ",";
							phones += ",";
						}
						names += this.contactList[i].contactName;
						phones += this.contactList[i].contactPhone;
					}

					this.$confirm('我们将会短信联系"' + names + '"', '发送求助信息', {
						type: "info",
						className: "sendConfirm",
						okLabel: "立即发送"
					}).then(({ result }) => {
						if(result){
							const loading = this.$loading();
							var result = jsBridge.dispatchAction("ContactsAction", JSON.stringify({"phones":phones}), "sendHelp");
						  	loading.close();

							if(result == "success"){
						  		this.$toast.success('求助信息已发送');
							}else{
								this.$toast.success(result);
							}
						}
      				});
				}
			}
		})
	</script>

	<script type="text/javascript">
        function pageFinishCallback(){
			var dataArr = jsBridge.dispatchAction("ContactsAction", JSON.stringify({}), "getAll");
			vm.contactList = jQuery.parseJSON(dataArr);
        }

        function getContactInfo_callback(userName, userNumber){
			vm.contact_name = userName;
			vm.contact_phone = userNumber;

			vm.contact_name2 = userName;
			vm.contact_phone2 = userNumber;
        }
    </script>
</BODY>
</HTML>
