<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<TITLE>知途 > 消息</TITLE>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" type="text/css" href="css/mint.min.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-toast.all.css" />
	<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-loading.all.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui-message.all.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<script src="js/jquery.min-1.11.3.js"></script>
	<script src="js/JSConstants.js"></script>
	<script src="js/JSBridge.js"></script>
	<script src="js/JSBridgeExt.js"></script>
	<script src="js/common.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/mint.min.js"></script>
	<script src="js/muse-ui.js"></script>
	<script src="js/muse-ui-toast.js"></script>
	<script src="js/muse-ui-loading.js"></script>
	<script src="js/muse-ui-message.js"></script>

	<style type="text/css">
		.message-item{
			border: 1px solid #ddd;
			margin-top: 8px;
			border-radius: 5px;
		}

		.message-item td{
			font-size: 13px;
			color: #666;
			padding: 1px 5px 3px 5px;
			line-height: 25px;
		}

		.message-item .title{
			font-weight: 600;
		}

		.message-item .time{
			float: right;
			margin-right: 5px;
		}

		.message-item .action-button {
			font-size: 13px;
			width: 65px;
			height: 25px;
			margin-top: 5px;
		}
	</style>
</HEAD>
<BODY>
	<div id="app" class="vue-mint-container">
		<mt-header fixed title="消息"></mt-header>

		<table class="message-item" align="center" width="99%" border="0" v-for="(item,index) in messageList">
			<tr>
				<td colspan="2">
					<span class="title">{{ item.title }}</span>
					<span class="time">{{ item.createDate }}</span>
				</td>
			</tr>

			<!-- 添加好友 -->
			<tr v-if="item.category==='ADD_FRIEND'">
				<td>{{ item.senderPhone }}【{{ item.senderNickname }}】</td>
				<td width="100" align="center">
					<mt-button v-if="item.status == 1" type="default" disabled plain size="normal" class="action-button">{{ item.result }}</mt-button>

					<mt-button v-if="item.status == 0" type="danger" size="normal" class="action-button" @click="confirmAddFriend(item.id, 'no')">忽略</mt-button>&nbsp;<br>
					<mt-button v-if="item.status == 0" type="primary" size="normal" class="action-button" @click="confirmAddFriend(item.id, 'yes')">同意</mt-button>
				</td>
			</tr>

            <!-- 紧急求助 -->
            <tr v-if="item.category==='SEEK_HELP'">
                <td style="color:red; font-weight:600;">{{ item.content }}</td>
                <td width="100" align="center">
                    <mt-button type="primary" size="normal" class="action-button" @click="helpMap(item.sender)">详情</mt-button>
                </td>
            </tr>

			<!-- 通用 -->
			<tr v-if="item.category==='GENERAL'">
				<td colspan="2">
					{{ item.content}}
				</td>
			</tr>
		</table>

		<mt-tabbar v-model="selected" fixed>
			<mt-tab-item id="tab1">
				<img slot="icon" src="images/home.jpg">主页
			</mt-tab-item>
			<mt-tab-item id="tab2">
				<img slot="icon" src="images/alert.jpg">求助
			</mt-tab-item>
			<mt-tab-item id="tab3">
				<img slot="icon" src="images/navigation.png">寻点
			</mt-tab-item>
			<mt-tab-item id="tab4">
				<img slot="icon" src="images/message.jpg">消息
			</mt-tab-item>
			<mt-tab-item id="tab5">
				<img slot="icon" src="images/person.jpg">我的
			</mt-tab-item>
		</mt-tabbar>
	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				selected: "tab4",
				messageList: [
					//{"owner": 12,"result": "","senderPhone": "13798189352","senderNickname": "1379818","receiver": "18318400143","sender": "5","id": 16,"category": "ADD_FRIEND","title": "请求添加您为好友", "content": "","createDate": "2020-12-10 18:13:52","status": 0},
					//{"owner": 12,"result": "已忽略","senderPhone": "13798189353","senderNickname": "1379818","receiver": "18318400144","sender": "5","id": 17,"category": "ADD_FRIEND","title": "请求添加您为好友", "content": "","createDate": "2020-12-10 18:13:52","status": 1},
					//{"owner": 12,"result": "","senderPhone": "13798189353","senderNickname": "1379818","receiver": "18318400144","sender": "5","id": 17,"category": "SEEK_HELP","title": "好友提醒", "content": "您的朋友13798189352向您发起了紧急求助，点击详情查看TA的位置","createDate": "2020-12-10 18:13:52","status": 1}
				]
			},
			methods: {
				confirmAddFriend: function(id, pass){
					var result = jsBridge.dispatchAction("FriendAction", JSON.stringify({"id": id, "pass":pass}), "confirm_add");
					if(result == "success"){
						transferPage("messages.html");
					}else{
						this.$toast.error(result);
					}
				},
				helpMap: function(userId){
					jsBridge.dispatchAction("LocationAction", JSON.stringify({"userId": userId}), "helpMap");
				}
			},
			watch: {
				"selected": function(){
					if(this.selected == "tab1"){
						transferPage("main.html");
					}else if(this.selected == "tab2"){
						transferPage("contact.html");
					}else if(this.selected == "tab3"){
						jsBridge.dispatchAction("LocationAction", JSON.stringify({}), "pointNavigation");
					}else if(this.selected == "tab4"){
						transferPage("messages.html");
					}else if(this.selected == "tab5"){
						transferPage("me.html");
					}
				}
			}
		})
	</script>

	<script type="text/javascript">
        function pageFinishCallback(){
        	var dataArr = jsBridge.dispatchAction("MessageAction", JSON.stringify({}), "list");
			vm.messageList = jQuery.parseJSON(dataArr);
        }
    </script>
</BODY>
</HTML>
