body {
	padding: 0;
	margin: 0;
}

.vue-mint-container {
    padding-top: 50px;
}

/* header */
.mint-header {
	background-color: #4682B4;
	height: 50px;
	line-height: 2;
}

.mint-header .mint-button-text{
	font-size: 18px;
}

.mint-header-title {
	font-weight: 600;
	font-size: 18px;
}

/* tabbar */
.mint-tabbar > .mint-tab-item.is-selected {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.mint-tab-item-label {
    font-size: 15px;
}